spring:
  profiles:
    active: Dev
---
spring:
  profiles: Dev
debug: true
app:
  movieQueue: movieQueue
  movieLocation : C:\movie
  ffmpegLocation : C:\ffmpeg
  ffprobeLocation : C:\ffprobe
rabbit:
  host: localhost
  port: 5672
  username: docker
  password: docker
  numberThread: 1
logging:
  level:
    org.springframework.web: ERROR
    com.hac.*: DEBUG
---
spring:
  profiles: Docker
debug: false
app:
  movieQueue: ${MOVIE_QUEUE}
  movieLocation : ${MOVIE_LOCATION}
rabbit:
  host: ${RABBIT_HOST}
  port: ${RABBIT_PORT}
  username: ${RABBIT_USERNAME}
  password: ${RABBIT_PASSWORD}
logging:
  level:
    org.springframework.web: ERROR
    com.hac.*: ERROR

